.header {
  padding: 60px;
  text-align: center;
  background: #ffaddd;
  color: white;
  font-size: 25px;
  font-family:'Lilita One', sans-serif; 
}

.column {
  float: left;
  width: 18%;
  padding: 0 8px;
}

.row {margin: 3 -3px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family:'Lilita One', sans-serif;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #34ccff;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  font-family:'Signika', sans-serif;
}

.card button:hover {
  opacity: 0.7;
}