body {
    font-family: 'Signika', sans-serif;
    background-image: url(bg.jpeg);
    background-size: cover;
    height: 100vh;
  }
h1 {
    text-align: center;
    font-family: 'Lilita One', sans-serif;
    margin: 80px 0;
  }

  h2 {
    text-align: center;
    font-family: 'Lilita One', sans-serif;
    margin: 80px 0;
  }
  p.one {
    border-style: solid;
    border-color: rgb(0, 0, 0);
  }

  p.two {
    border-style: dotted;
    border-color: rgb(0, 0, 0);
    text-align: center;
  }

  p {
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    background-color: rgba(0, 0, 255, 0);
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    align-items: stretch;
}

.container-item {
    background-color: rgba(255, 255, 0, 0);
    color: rgb(0, 0, 255);
    text-align: center;
    margin: 10px;
    width: 10px;
}

